// colorice theme — shado default (regenerate via: colorice <wallpaper> --apply)
themes {
    colorice {
        fg "#e3c7fc"
        bg "#191724"
        black "#09090d"
        red "#FF4971"
        green "#F18FB0"
        yellow "#E9729D"
        blue "#8897F4"
        magenta "#bd93f9"
        cyan "#c4a7e7"
        white "#f1c4e0"
        orange "#B52A5B"
    }
}
